.tite{
    display: flex;
    justify-content: center;
    margin-top: 70px;

}


.Cuadro1{
    background-color: red;
    width: 60vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    margin-top: 110px;


}



.Azul{
    background-color:blue;
    width: 40vh;
    height: 40vh;
    margin-top: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.circulo{
    background-color: green;
    width: 10vh;
    height: 10vh;
    margin-top: 110px;
    border-radius: 50%;
    border:solid 3px white ;
    
}